.timeline-wrapper {
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background: $dark;
    left: 10%;
  }
  @include media-breakpoint-up(lg) {
    &:before {
      left: calc(100% - 6px);
      top: 0px;
      width: 13px;
      height: 13px;
      background: white;
      border: 2px solid $dark;
    }
    border-right: 2px solid $dark;
  }
}

.timeline-year-content-header {
  position: relative;
  @include media-breakpoint-up(lg) {
    border-bottom: 2px solid $dark;
  }
}

.timeline-year-indicators {
  display: inline-block;
  width: 75%;

  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}

.timeline-card-indicator {
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  margin-right: 6px;
  background-color: hsl(211, 100%, 67%);
  transition: .35s all;
  border: none;
  display: inline-block;
  padding: 0;
  @include media-breakpoint-down(lg) {
    pointer-events: none;
    left: auto !important;
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: -10px;
  }
  &.disabled {
    background-color: #ddd !important;
    pointer-events: none !important;
  }
  &.timeline-card-indicator-lg {
    width: 15%;
    padding-bottom: 15%;
    height: 0;
    margin-right: 6.1%;
    margin-bottom: 4%;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}

.timeline-year-events {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 16.67%;
  margin-left: 10px;
}

.timeline-year-docs {

  position: relative;
  // overflow: hidden;
  min-height: 300px;
  margin-bottom: 3rem;
  
  .card {
    position: absolute;
    top: 0;
    left: 0;
    opacity:0;
    transform: translateY(20%);
    transition: .35s all ease-in;
    transition-delay: 0;
    &.active {
      z-index: 10;
      opacity: 1;
      transform: translateY(0);
      transition-delay: .5s;
    }
    .badge {
      padding: .3rem;
      font-weight: normal;
      border: 1px solid #999;
    }
  }
}

.timeline-year {

  .timeline-year-label {
    font-size: 1.6rem;
    transition: .35s all;
    padding-top: .3rem;
    padding-bottom:.35rem;
    width: 20%;
    display: inline-block;
    margin-right: 5%;
    text-align: center;

    @include media-breakpoint-up(lg) {
      width: auto;
      background: none;
      color: $rust;
      pointer-events: none;
      border: none;
      font-size: 5rem;
      line-height: 1;
      padding: 4rem 0 0;
      margin-bottom: 1rem;
    }
  }

}

.react-reveal {
  transition: .5s all ease-out;
  transition-delay: 1s;
}

.scaleUp {
  transform: scale(1.2);
  color: $rust;
}

.scaleDown {
  transform: scale(1);
}

.legend {
  position: sticky;
  top: 100px;
}

.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

.timeline-event {
  position: absolute;
}

.timeline-event-title {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background: $dark;
    left: -15px;
    transform: rotate(45deg);
    top: 6px;
  }
}

.timeline-card {
  box-shadow: -2px 4px 6px rgba(0, 0, 0, .4);
}

.no-swag {
  border: none;
  background: none;
  padding: 0;
  border-bottom: 1px solid transparent;
  &.active {
    border-bottom: 1px solid  black;
  }
}

.btn-category {
  margin-bottom: 5px;
}

.square {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 8px;
}

.methodology-title {
  font-weight: 500;
}

.modal-page {
  z-index: 1030;
  .modal-dialog {
    margin: 0;
    top: 58px;
    height: calc(100% - 58px);
  }
  .modal-content {
    height: 100%;
    border-radius: 0;
    border: none;
  }
  .modal-body {
    height: 100%;
    overflow-y: scroll;
  }

  .timeline-card-indicator {
    pointer-events: all;
  }
  
  &.fade .modal-dialog {
    transform: translate(0, 50px);
  }
  &.show .modal-dialog {
    transform: none;
  }
  .carousel-inner {
    padding-bottom: 30px;
    min-height: 260px;
    @media(min-width: 375px) {
      min-height: 310px;
    }
  }
  .carousel-indicators {
    margin-top: 0;
    margin-bottom: 0;
    li {
      background: #bbb;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: none;
      margin: 10px 5px;

    }
  }
}

.text-heading {
  font-family: "Martin", sans-serif;
  font-size: 112%;
  font-weight: 400;
}

.modal-document {

  @include media-breakpoint-up(lg) {
    height: auto;
    width: auto;
    
    .modal-dialog {
      margin: 0;
    }
  }

  .modal-title {
    font-family: "Martin";
    font-weight: 400;
    font-size: 1.6rem;
  }

  .modal-header  {
    padding-top: .6rem;
    padding-bottom: .75rem;

    .close {
      font-size: 2rem;
      opacity: 1;
      text-shadow: none;
      font-weight: 400;
      padding-top: .6rem;
      padding-bottom: .75rem;
    }
  }
}

.btn-rotate {
  transform: rotate(-4deg);
  span {
    display: inline-block;
    transform: rotate(4deg);
  }
}

.category-indicator {
  cursor: pointer;
  position: relative;
  span {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    box-shadow: 0 0 0 2px inset rgba(0,0,0,.4)
  }
  &.active {
    
      &:before {
        content: '\2713';
        color: white;
        position: absolute;
        left: 3px;
        transform: rotate(8deg);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
      }
    
  }
}

.list-legend {
  font-size: 1rem;
}
.legend-card-indicator {
  width: 16px;
  height: 16px;
}

.modal-card-indicator {
  width: 8%;
  padding-bottom: 8%;
  margin-right: 2%;
}
.modal-card-link {
  width: 88%;
}

.modal-backdrop-xs {
  &.show {
    @include media-breakpoint-up(lg) {
      opacity: 0;
    }
  }
}


.truncate {
  // width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-year {
  position: relative;
  &:before {
    content: '';
    width: 8px;
    height: 8px;
    background: $dark;
    position: absolute;
    transform: rotate(45deg);
    left: -13px;
    top: 9px;
  }
}
.event-title {
  line-height: 1;
}

.list-related {
  font-size: 1rem;
  line-height: 1.1rem;
  li:last-child {
    a {
      margin-bottom: 0 !important;
    }
  }
}