.bg-cover {
  width: 100vw;
  height: 100vh;
}

.bg-gradient {
  bottom: 0;
  z-index: 20;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 1));
}

.bg-active {
  z-index: 10;
}

//scrollmagic
.scrollmagic-pin-spacer {
  // height: 2vh !important;
  // min-height: 2vh !important;
  // padding-top: 2vh !important;
}

//transitions
.opacity-0 {
  opacity: 0;
  transition: .25s opacity;
}
.opacity-1 {
  opacity: 1;
}

.progress {
  top: 50%;
  transform: translateY(-50%);
  right: 2vw;
  height: 50vh;
  width: 1px;
  background: $white;
}

.bottom-locked {
  position: absolute;
  bottom: 0;
}

.stories {
  //////variables for this section
  $color-offwhite: #FFFDFB;
  //////////

  color: $color-offwhite;

  p {
    font-size: 16px;
    &.lead {
      font-size: 24px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 24px;
      &.lead {
        font-size: 32px;
      }
    }
  }


  .intro-slide {
    z-index: 500;
  }
  
}

.slide-from-left {
  transform: translateX(-100vw);
  transition: .5s all ease-out;
  &.active {
    transform: none;
  }
}


.slide-from-right {
  position: absolute;
  left: 0;
  transform: translateX(100vw);
  transition: .5s all ease-out;
  &.active {
    transform: none;
  }
}





