.stories {
  background: black;
}
.bg-cover {
  width: 100vw;
  height: 100vh;
}

.bg-character {
  transition: opacity .5s ease-in-out;
  opacity: 0;
}

.bg-gradient {
  bottom: 0;
  z-index: 60;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 1));
}

.bg-active {
  z-index: 10;
}

//transitions
.opacity-0 {
  opacity: 0;
  transition: .25s opacity;
}
.opacity-1 {
  opacity: 1;
}

.progress {
  top: 50%;
  transform: translateY(-50%);
  right: 2vw;
  height: 50vh;
  width: 1px;
  background: $white;
}

.bottom-locked {
  position: absolute;
  bottom: 0;
}

.stories {
  //////variables for this section
  $color-offwhite: #FFFDFB;
  //////////

  color: $color-offwhite;

  p {
    font-size: 16px;
    &.lead {
      font-size: 24px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 24px;
      &.lead {
        font-size: 32px;
      }
    }
  }


  .intro-slide {
    z-index: 500;
  }
  
}

.slide-from-left {
  transform: translateX(-100vw);
  transition: .5s all ease-out;
  &.active {
    transform: none;
  }
}
.slide-from-bottom {
  transform: translateY(50vw);
  transition: .5s all ease-out;
  &.active {
    transform: none;
  }
}

.slide-from-top {
  transform: translateY(-50vw);
  transition: .5s all ease-out;
  &.active {
    transform: none;
  }
}

.ringing {
  &.active {
    animation: ringing 2s infinite ease-in-out;
  }
}

@keyframes ringing {
  0% {
      -webkit-transform:rotate(0);
              transform:rotate(0)
  }

  5% {
      -webkit-transform:rotate(-10deg);
              transform:rotate(-10deg)
  }

  10% {
      -webkit-transform:rotate(10deg);
              transform:rotate(10deg)
  }

  15% {
      -webkit-transform:rotate(-10deg);
              transform:rotate(-10deg)
  }

  20% {
      -webkit-transform:rotate(10deg);
              transform:rotate(10deg)
  }

  30% {
      -webkit-transform:rotate(0);
              transform:rotate(0)
  }

  100% {
      -webkit-transform:rotate(0);
              transform:rotate(0)
  }
}

//kara section 
.contacting-family .kara-contact-cards {
  color: #89969F;

  .card-body {
    >*:first-child {
      margin-right: 15px;
    }
  }
}
.opportunity-for-bail {
  .kara-card.monique { margin-bottom: 60px; }
  .kara-card.alex { margin-bottom: 70px; }

  .kara-card-content {
    min-width: 420px;
    font-size: 24px;
    color: #000000;
    span { 
      color: $pink; 
      text-transform: uppercase;
    }
  }

  .none-fits-requirements-text {
    p {
      font-family: $font-family-headings;
      color: $rust;
      font-size: 60px;
      transform: rotate(-1.75deg);
    }
  }
}
.z-100 {
  z-index: 100;
}
.lh-1 {
  line-height: 1;
}
.fill-rust {
  path {
    fill: $rust;
  }
}

.modal-art {
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(20%);
}

.w-20 {
  width: 20%;
}