.bottom-buttons-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;

  .bottom-buttons-cta {
    font-family: MARTIN;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 86px;
    text-align: center;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 820px) {
    .bottom-buttons-btns {
      display: block!important;
      a {
        margin-bottom: 32px!important;
      }
    }
  }

  @media only screen and (max-width: 420px) {
    .bottom-buttons-btns {
      display: block!important;
      a {
        margin-bottom: 32px!important;
        font-size: 30px!important;
      }
    }
  }

  .bottom-buttons-btns {
    display: flex;
    justify-content: center;
    text-align: center;

    > * {
      position: relative;
      margin: 0 36px;
      outline: none;
      text-decoration: none;
      display: inline-block;
      height: 70px;
      padding: 0px 50px;
      font-family: MARTIN;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 64px;
      text-align: center;
      color: #fffdfb;
      text-transform: uppercase;

      &::before {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: #e5521d;
        transform: rotate(1deg);
        z-index: -1;
      }

      &:last-child {
        &::before {
          content: "";
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          position: absolute;
          background: #e5521d;
          transform: rotate(-1deg);
          z-index: -1;
        }
      }

      &:hover {
        color: #fffdfb;

        &::before {
          background: #f08fdb;
        }
      }
    }
  }
}
