@import "../styles/_custom.scss";

.nav {
    line-height: 2rem;
}

.cta {
    position: relative;
    z-index: 2;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    font-family: $font-family-headings;
    font-weight: 400;
    color: $light;
    margin-bottom: 0;
    line-height: 2rem;

    &:before {
        position: absolute;
        z-index: -1;
        content: '';
        top: 0;
        left: -5%;
        height: 2rem;
        width: 110%;
        background: #1D8673;
        transform: rotate(-2deg);
        transition: background-color 200ms ease-out;
    }

    &.active {
      color: #1D8673;
      &:before {
        background: white;
      }
    }
}

.ctaHover {
    &:hover {
        .cta:before {
            background: $pink;
        }
    }
}