@import "~bootstrap/scss/bootstrap";

#narrative-page {
  // variables
  $footerHeight: 62px;
  $navbarHeight: 64px;
  $color-offwhite:#FFFDFB;
  $color-rust:#E5521D;
  //

  font-style: normal;
  font-weight: normal;
  color: $color-offwhite;
  font-size: 30px;
  line-height: 41px;

  .gradient-background {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    background-image: linear-gradient(rgba($color: #000000, $alpha: 0),
        rgba($color: #000000, $alpha: 1));
  }

  .narrative-modal-title h1 {
    font-family: MARTIN, sans-serif;
    font-size: 56px;
    line-height: 38px;
    /* identical to box height, or 68% */
    /* rust */
    color: $color-rust;
  }

  .quote {
    font-style: italic;
  }

  #nathan-wait-modal {
    min-width: 590px;
  }


  .narrative-step {
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  .relative-content {
    position: relative;
    top: -65vh;
  }

  .fixed-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .narrative-btns-container {
    display: flex;
    justify-content: center;
    margin-top: 43px;
  }

  .narrative-btn,
  .narrative-btn:active,
  .narrative-btn:focus {
    box-shadow: none;
    font-family: MARTIN, sans-serif;
    font-size: 60px;
    line-height: 69px;
    /* identical to box height */
    text-align: center;
    /* BG */
    color: $color-offwhite !important;
    width: 287px;
    height: 97px;
    /* pink */
    background-color: #F08FDB !important;
    transform: rotate(0.66deg);
    border-radius: 0;
    text-transform: uppercase;
    border-style: none;
    outline: 0;

    &.left {
      transform: rotate(0.66deg);
      margin-right: 45px;
    }

    &.right {
      transform: rotate(-1.94deg);
    }
  }


  #narrative-intro,
  #narrative-ending {
    //arbitrary 1px added so that .narrative-step
    //progress at top starts at < 1 (to allow 
    //scrollama to transition into next step 
    //immediately upon scroll down)
    height: calc(100vh + 1px);

    .fixed-content {
      //force fixed contnet to start at bottom
      //of viewport
      top: auto;
    }

    .main-heading {
      font-family: MARTIN, sans-serif;
      font-size: 110px;
      line-height: 126px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10px;
      /* pink */
      color: #F08FDB !important;
    }

    .kicker {
      font-family: Crimson Text, sans-serif;
      font-size: 30px;
      line-height: 38px;
      text-align: center;
      max-width: 1000px;
      margin: 0 auto 37px;
    }

    .scroll-down-instructions {
      // text-align: center;
      margin-bottom: 81px;

      >* {
        display: block;
        margin: auto;
      }
    }

    .action-text {
      font-family: Crimson Text, sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      /* identical to box height */
      text-align: center;
      margin-bottom: 16px;
    }
  }

  #narrative-intro {
    height: 200vh;
    position: relative;
    z-index: 10;

    .relative-content {
      top: auto;
      height: 100vh;
      padding: 0;
      margin: 0;
      // width: 100%;
      max-width: none;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  #narrative-ending {
    height: 1px;
    color: $color-offwhite !important;

    p {
      font-family: Crimson Text, sans-serif;
      font-size: 30px;
      line-height: 38px;
      max-width: 1000px;
      margin: 0 auto 37px;
    }

    .call-to-action {
      font-family: MARTIN, sans-serif;
      font-size: 75px;
      line-height: 86px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  #narrative-nathan {
    .meet-nathan {
      min-height: 100vh;

      &.scroll-start {
        .relative-content {
          position: fixed;
          top: 35vh;
          left: 0;
          right: 0;
          visibility: visible;
        }

        .nathan-portrait-img {
          transform: translate3d(0, 0, 0) !important;
        }
      }

      .nathan-portrait-img {
        width: 535px;
      }
    }

    .police-car-img {
      width: 775px;
      top: calc(#{$navbarHeight} + 3px);
      position: fixed;
      left: 0;
      transition: opacity .5s;
    }

    .payphone-img {
      width: 382px;
    }

    .police-station-intro-text {
      margin-bottom: 33px;
    }

    .calendar-img {
      width: 440px;
    }
  }

  #narrative-kara {
    .kara-portrait-img {
      width: 535px;
    }

    .kara-phone-card {
      border-radius: 0;
      font-family: Crimson Text, sans-serif;
      font-weight: 600;
      font-size: 28px;
      line-height: 38px;
      color: #89969F;
      padding: 0;

      .kara-phone-card-content {
        display: flex;
        align-items: center;
        padding: 9px 16px 11px 21px;

        img {
          margin-right: 15px;
        }

        p {
          margin: 0;
        }
      }
    }

    .contacting-family-text {
      margin-top: 62 px;
    }

    .kara-card {
      font-family: Crimson Text, sans-serif;
      font-size: 30px;
      line-height: 41px;
      color: #000;
      border-radius: 0;
      /* shadow */
      filter: drop-shadow(-2px 2px 6px rgba(0, 0, 0, 0.25));

      &.highlighted {
        border: 1px solid $color-rust;
      }

      .kara-card-content {
        padding: 0 22px 18px 10px;

        // used for name on each of kara's 
        //contact cards
        span {
          font-family: MARTIN, sans-serif;
          font-size: 56px;
          line-height: 64px;
          display: flex;
          align-items: flex-end;
          text-transform: uppercase;
          /* pink */
          color: #F08FDB;
          display: block;
        }
      }

      &.monique {
        width: 424px;
        transform: rotate(-1.14deg);
        margin-bottom: 60px;

        .kara-card-content {
          transform: rotate(1.14deg);
        }
      }

      &.lisa {
        width: 421px;
        transform: rotate(-0.21deg);

        .kara-card-content {
          transform: rotate(0.21deg);

        }
      }

      &.alex {
        width: 420px;
        transform: rotate(0.19deg);
        margin-bottom: 70px;

        .kara-card-content {
          transform: rotate(-0.19deg);

        }
      }

      &.mike {
        width: 423px;
        transform: rotate(0.9deg);

        .kara-card-content {
          transform: rotate(-0.9deg);
        }
      }
    }

    .none-fits-requirements-text {
      p {
        margin-top: 34px;
        font-family: MARTIN, sans-serif;
        font-size: 60px;
        line-height: 69px;
        /* identical to box height */
        text-align: center;
        /* rust */
        color: $color-rust;
        transform: rotate(-1.75deg);
      }
    }

    .cell-phone-img {
      width: 265px;
      transform: rotate(4.43deg);
    }

    .lightbulb-img {
      width: 174px;
    }
  }

  #narrative-george {
    .george-portrait-img {
      width: 486px;
    }

    .conditions ol {
      list-style: none;
      counter-reset: my-awesome-counter;
    }

    .conditions li:not(.x) {
      counter-increment: my-awesome-counter;
    }

    .conditions ol li::before {
      content: counter(my-awesome-counter) "  ";
      color: #f08fdb;
      font-family: Martin, "Arial Condensed Black", Impact, -apple-system,
        BlinkMacSystemFont, sans-serif;
      font-size: 2em;
      font-weight: bold;
      transform: rotate(30deg);
    }

    .conditions ul li::before {
      content: none;
    }

    .bail-keys-img {
      width: 474px;
      margin-bottom: 184px;
    }

    .appartment-buzzer-img {
      width: 238px;
    }
  }

  #narrative-ending {
    height: 5px;

    .fixed-content {
      top: auto;
    }

    p {
      font-family: Crimson Text, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 38px;
      /* or 127% */
      /* BG */
      color: $color-offwhite;
      margin-bottom: 46px;
    }

    h2 {
      font-family: MARTIN, sans-serif;
      font-size: 75px;
      line-height: 86px;
      text-align: center;
      text-transform: uppercase !important;
      margin-bottom: 30px;
      text-align: center !important;
    }

    .action-buttons {
      text-align: center;
      margin-bottom: calc(#{$footerHeight} + 127px);

      >* {
        color: $color-offwhite !important;
        outline: none;
        text-decoration: none;
        display: inline-block;
        height: 100px;
        padding: 15px 80px;
        background-color: $color-rust;
        font-family: MARTIN, sans-serif;
        font-size: 60px;
        line-height: 69px;
        /* identical to box height */
        text-align: center;
        /* BG */
        text-transform: uppercase;

        &:not(last-child) {
          margin-right: 100px;
        }
      }
    }
  }

  .narrative-background {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    position: fixed;
    z-index: -2;
  }
}